@keyframes myfirst {
    from{background:red;}
    to{background:yellow;}
}
@-moz-keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
}
@-webkit-keyframes myfirst {
    from{background: red;}
    to {background: yellow}
}
